<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/andrej.style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="main-container-3">
        <div class="header">
            <h1>Change account password</h1>
        </div>
        <h2>User Useraitis</h2>
        <form class="newPass" action="/newPassword">
            <div class="pass-labels">
                <label for="oldPasword">Old password:</label>
                <label for="newPassword">New password:</label>
                <label for="confirmPassword">Confirm new password:</label>
            </div>
            <div class="pass-inputs">
                <input type="password" name="oldPassword" id="oldPass" placeholder="Old password"><br>
                <input type="password" name="newPassword" id="newPass" placeholder="New password"><br>
                <input type="password" name="confirmPassword" id="confirmPass" placeholder="Confirm password">
            </div>
        </form>
        <div class="pass-button">
            <button type="submit">Save</button> <a href="/createProfile">Cancel</a>

        </div>


    </div>
    
</body>
</html>