@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
}

.modal-dialog {
    .modal-content {
        .modal-body {

            form#exerciseCreateForm {
                
                input[type="text"] {
                    line-height: 1.7;
                }
                fieldset[class*="col"] > label[class*="bmd-label"]{
                    left: 15px !important; /*Bug: doesn't line up with default 15px column padding*/
                }

            }
        }
    }
}
.table-container {
    table {
        td {
            cursor: pointer;
        }
    }
    button.create {
        margin-top: -36px;
    }
}

.exerciseContainer {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    
    table {
        margin-bottom: 0;
    }
}

span.trash {
    cursor: pointer;
    
    &:hover {
        animation: shake .3s infinite;
    }
}

@keyframes shake {
    0% {transform: rotate(-10deg);}
    50%{transform: rotate(10deg);}
    100%{transform: rotate(-10deg);}
}