<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/ug.css' />
    <script src="ug.js"></script>
</head>
<body>
        <% include ../_partials/header.ejs %>

        <!-- <% include ../_partials/navigation.ejs %> -->

        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">About Us</h1>
                  <br>
                  <p>  <a> Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                        Praesent dapibus bibendum egesid pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                              Praesent dapibus bibendum egestas. Etiam eu augue sapien.
                          </a>
                          <br>
                          <br>
                              <a>Quisque uts. Etiam eu augue sapien.</a>
                                      <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                              Praesent dapibus bibendum egestas. Etiam eu augue sapien.</a>
                                              <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                                      Praesent sapien.</a>
                                                      <br>
                                                      <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                                              Praesent dapibus bibendum egestas. Etiam eu augue sapien.</a>
                                                              Quisque uts. Etiam eu augue sapien.
                                      <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                              Praesent dapibus bibendum egestas. Etiam eu augue sapien.</a>
                                              <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                                      Praesent sapien.
                                                      <a>Quisque ut porttitor ex. Pellentesque vestibulum nunc id pretium euismod. Phasellus cursus gravida purus, ut accumsan nisl vulputate non.
                                                              Praesent dapibus bibendum egestas. Etiam eu augue sapien.</a>
        </p>
                </div>
              </div>
          
      <% include ../_partials/footer.ejs %>
    
</body>
</html>