<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/ug.css' />
    <script src="ug.js"></script>
</head>
<body>

        <% include ../_partials/header.ejs %>

        <!-- <% include ../_partials/navigation.ejs %> -->
        

              <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Popular Questions</h1>
                      <br>
                      <p class="lead">The Intellectual Property?</p>
                      <p class="lead">A Termination clause?</p>
                      <p class="lead">A Privacy Policy?</p>
                      <p class="lead">A Links To Other Web Sites?</p>
                      <p class="lead">Is your website or mobile app allows users to create content?</p>
                      <p class="lead">What Users Can Do?</p>
                    </div>
                  </div>


      <% include ../_partials/footer.ejs %>
      
</body>
</html>