<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href='/stylesheets/ug.css' />
    <script src="ug.js"></script>
</head>
<body>
    <div class="footer">
         <ul class="nav justify-content-start navbar-light" style="background-color: #6200EE">
                <li class="nav-item">
                  <a class="nav-link active" href="/about">About</a>
                  <a class="nav-link" href="/contacts">Contacts</a>
                  <a class="nav-link" href="/faq">F.A.Q.</a>
                    <a class="nav-link" href="/terms">Terms</a>
                  </li>
              </ul>
              <div class="footerio-side">
              <ul class="nav justify-content-end navbar-light" style="background-color: #6200EE">
                    <li class="nav-item">
                      <a>Phone Number : +3706000000</a>
                      <br>
                      <a>Address : Vilnius, Lithuania</a>
                      </li>
                  </ul>
                </div>

                <div class="footerio-apacia">
              <ul class="nav justify-content-center navbar-light" style="background-color: #6200EE">
                    <li>
                    <a>@ All rights reserved NextWeek</a>
                    </li>
                    </ul>
                </div>
                </div>
</body>
</html>